*{
    padding: 0;
    box-sizing: border-box;
  }
  #root{
    display: flex;
    flex-direction: column;
  }
  .image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 238, 251);
    border: none;
    border-radius: 17px;
    border-left: 2px solid grey;
   /* animation: spin 1s ease infinite;*/
  
  }
  .image img{
    width: 400px;
    margin: 10px;
  }
  input{
    border: 1px solid black;
    padding: 2px;
    border-radius: 3px;
    
  }
  .btn{
    background-color: aquamarine;
    text-decoration: solid;
    border: none;
    width: 200px;
    padding: 5px;
    
  }
  .btn:hover{
    cursor: pointer;
  }
  